S3method(InferCNR,default)
S3method(InferCNR,Seurat)
S3method(NormalizeCNR,default)
S3method(NormalizeCNR,Seurat)
S3method(NormalizeCNR,CNR)
S3method(PloidyCNV,default)
S3method(PloidyCNV,Seurat)
S3method(PloidyCNV,CNR)
S3method(RunCNVPCA,default)
S3method(RunCNVPCA,Seurat)
S3method(RunCNVPCA,CNR)
S3method(ClusterCNV,default)
S3method(ClusterCNV,Seurat)
S3method(ClusterCNV,CNR)
S3method(RunCNVUMAP,default)
S3method(RunCNVUMAP,Seurat)
S3method(RunCNVUMAP,CNR)
S3method(PlotCNR,default)
S3method(PlotCNR,Seurat)
S3method(PlotCNR,CNR)
S3method(PlotCNV,default)
S3method(PlotCNV,Seurat)
S3method(PlotCNV,CNR)
S3method(PlotMST,default)
S3method(PlotMST,Seurat)
S3method(PlotMST,CNR)
export(ReadCNR)
export(CalculateGeneCV)
export(GeneCNVRegion)
export(PlotExpCNV)
export(PlotCNVRegion)
export(PlotCVCompare)
export(PlotCVTest)
export(FilterCNR)
export(parsimony_tree)
export(PlotCNR)
export(PlotCNV)
export(PlotMST)
export(InferCNR)
export(mapCNR2Seurat)
export(NormalizeCNR)
export(RunCNVPCA)
export(ClusterCNV)
export(RunCNVUMAP)
export(PloidyCNV)
export(MergeCNV)
export(CNVChanged)
export(CNVRegionLocated)
import(copynumber)
import(pheatmap)
import(zoo)
import(Seurat)
import(ape)
import(phangorn)
import(uwot)
import(ggplot2)
import(ggnewscale)
import(reshape2)
import(scales)
import(network)
import(ggnet)
